*{
    margin: 0;
    padding: 0;
    background: white
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#lampada{
    cursor: pointer;
    height: 300px;
    margin-bottom: 40px;
}
#botoes{
   display: flex;
   justify-content: space-between;
   gap: 10px;
}
#botoes button{
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}
#acender{
    background: yellow;
}
#apagar{
    background: grey;
}